body {
  font-family: Arial, sans-serif;
  background: #b10000;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
  font-size: 36px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  padding: 20px;
}

.card {
  background: #fff;
  color: #000;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 10px;
}

a {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #b10000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
